# Byte-compiled files
__pycache__/
*.py[cod]

# Environment variables
.env
*.env

# Flask instance folder
instance/

# Local configurations
config.py

# Log files
*.log

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Pytest
.pytest_cache/

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
